/* Lembrando que o estilo do cabeçalho está sendo reutilizado através do style.css, que importa o css da home e consume tudo em um único arquivo. A class do header da home e calendar, são as mesmas */

/* Container de eventos */
.event-container {
    width: 80%;
    height: 23.8%;

    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;

    border: 1px solid #667BC650;
    border-radius: 12px;
}

.event-container__event {
    width: 90%;
    height: 27%;
    margin: 12px;

    display: flex;
    justify-content: space-between;
}

.event-container__event__title-date-desc {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.title-date-desc__title-date {
    font-size: 16px;
    font-weight: 600;
}

.title-date-desc__desc {
    font-size: 12px;
    font-weight: 400;
}

.event-container__event__hour__hour {
    color: #667BC6;
    font-size: 20px;
    font-weight: 500;
}

.c_show-days {
    width: 90%;
    height: 30%;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 20px;
}

/* Nav Bar */
#container-menu-calendar-item {
    position: relative;
    bottom: 55%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 50%;
    border-color: transparent;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
    background-color: #fff;
}